body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.wrapper {}

.header {
    background-color: aqua;
    grid-area: header;
}

.first-two {
    display: flex;
    width: 10%;
}

.last-four {
    display: flex;
    text-align: right;
}

.top-nav-container {
    background-color: blue;
    min-width: 100%;
}

.top-nav-list {
    background-color: blueviolet;
    display: flex;
    list-style: none;
    width: 100%;
}

.top-nav-list-item {
    background-color: brown;
    padding: 10px;
}

li :nth-child(3) {}

.main {
    background-color: gold;
    grid-area: main;
    text-align: center;
}

.google-logo {
    background-color: green;
}

.search-bar {
    background-color: red;
}

.search-bar-btn {
    background-color: pink;
}

.lucky-btn {}

.footer {
    background-color: lightslategray;
    grid-area: footer;
}

.bottom-nav-container {
    background-color: black;
}

.bottom-nav-list {
    background-color: gray;
    display: flex;
    list-style: none;
}

.bottom-nav-list-item {
    background-color: lightgreen;
}