body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.wrapper {}

.header {
    grid-area: header;
    display: flex;
    color: #70757a;
    font-weight: bold;
}

.top-nav-container {
    flex-grow: 1;
}

.top-nav-list {
    display: flex;
    list-style: none;
}

.top-nav-list-item {
    padding: 10px;
}

.top-nav-list li:first-child {
    margin-left: -40px;
}

.top-nav-list li:nth-child(3) {
    margin-left: auto;
}

.main {
    grid-area: main;
    text-align: center;
}

.google-logo {
    margin-top: 7%;
}

.search-bar {
    background-color: white;
    margin: 30px 0 10px 0;
    width: 60%;
    border-radius: 20px;
    height: 37px;
    outline: none;
    border: 1px solid rgb(212, 211, 211);
    ;
}

.search-bar-btn,
.lucky-btn {
    padding: 5px 25px;
    margin: 10px 5px
}

.footer {
    grid-area: footer;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottom-nav-container {
    flex-grow: 1;
    color: gray
}

.bottom-nav-list {
    display: flex;
    list-style: none;
}

.bottom-nav-list-item {
    padding: 0 10px;
}

.bottom-nav-list li:nth-child(5) {
    margin-left: auto;
}

.bottom-nav-list li:nth-child(4) {
    margin-left: auto;
}

.bottom-nav-list li:first-child {
    margin-left: -40px;
}